[Unit]
Description=Strife Infrastructure Service
After=network.target

[Service]
User=strifeuser
WorkingDirectory=/opt/strife
ExecStart=/opt/strife/.venv/bin/fastapi run --host 127.0.0.1 --port 10100 /opt/strife/main.py
Restart=always

[Install]
WantedBy=multi-user.target
